<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <script type="text/javascript" src="/resources/scripts/lib/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="/resources/scripts/lib/bootstrap-tabs.js"></script>
	<script type="text/javascript" src="/resources/scripts/lib/bootstrap-dropdown.js"></script>
	<script type="text/javascript" src="/resources/scripts/lib/bootstrap-twipsy.js"></script>
	<script type="text/javascript" src="/resources/scripts/lib/bootstrap-popover.js"></script>
	<script type="text/javascript" src="/resources/scripts/lib/bootstrap-modal.js"></script>

    <!-- Le styles -->
    <link href="/resources/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="all" href="/resources/css/oda.css" />
    <style type="text/css">
      body {
        padding-top: 60px;
      }
      
      .tabbed-scroll {
      	height:400px; 
      	overflow:scroll; 
      }
      
      .topbar-wrapper {
    height: 40px;   
    position: relative;
}

.topbar-wrapper .topbar {
    margin: 0 -20px;
    position: absolute;
    z-index:1;
}

#assembly label {
	width:60px; 
}

#hex-content {
    font-family: "Courier New",
                 Courier,
                 monospace;
} 
    </style>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">

    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    
    <link rel="stylesheet" type="text/css" media="all" href="/resources/css/uploadify.css" />
    <script type="text/javascript" src="/resources/scripts/lib/uploadify/jquery.uploadify.js"></script>
     
    <script type="text/javascript">
    $(document).ready(function() { 
    	$('#example-strcpy').click(function() { 
    		alert('here'); 
    		$.ajax({
    			  url: '/examples?type=strcpy',    			  
    			  success: function(){
    				  alert('done'); 
    			  },
    			  error: function(){
    				  alert('error');
    			  }
    		});
    	}); 
    }); 
    </script>
    
  </head>

  <body>

    <div class="topbar">
      <div class="topbar-inner">
        <div class="container-fluid">
           <a class="brand" href="#">ODA</a> 

          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
			<li class="dropdown" data-dropdown="dropdown">
              <a href="#" class="dropdown-toggle">Examples</a>
              <ul class="dropdown-menu">
                <li><a href="#fat" id="example-strcpy">strcpy (x86)</a></li>
                <li><a href="#mdo">strcpy (arm)</a></li>

              </ul>
            </li>            
          </ul>
          {% if loggedIn %} 
          <p class="pull-right">Logged in as <a href="#">{{ username }}</a></p>
{% else %} 
 		<form id="login-form" action="login" class="pull-right">	
            <input class="input-small" type="text" 
            	name="username" placeholder="Username">

            <input class="input-small" type="password" 
            	name="password" placeholder="Password">
            <button class="btn" type="submit">Log in</button> |
            <a class="btn small success" href="/signup">Sign Up</a>
          </form>
          {% endif %} 
        </div>        
      </div>
      
    </div>

    <div class="container">
    
		{% block content %}{% endblock %}

        <footer>
          <p>&copy; Company 2012</p>
        </footer>
    </div>

  </body>
</html>
