<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ODA - Online Disassembler</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <script type="text/javascript" src="/resources/scripts/lib/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="/resources/scripts/lib/bootstrap-tabs.js"></script>
	<script type="text/javascript" src="/resources/scripts/lib/bootstrap-dropdown.js"></script>
	<script type="text/javascript" src="/resources/scripts/lib/bootstrap-twipsy.js"></script>
	<script type="text/javascript" src="/resources/scripts/lib/bootstrap-popover.js"></script>
	<script type="text/javascript" src="/resources/scripts/lib/bootstrap-modal.js"></script>

    <!-- Le styles -->
    <link href="/resources/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="all" href="/resources/css/oda.css" />
    <style type="text/css">
      body {
        padding-top: 60px;
      }
      
      .tabbed-scroll {
      	height:400px; 
      	overflow:scroll; 
      }
      
      .topbar-wrapper {
    height: 40px;   
    position: relative;
}

.topbar-wrapper .topbar {
    margin: 0 -20px;
    position: absolute;
    z-index:1;
}

#assembly label {
	width:60px; 
}

#hex-content {
    font-family: "Courier New",
                 Courier,
                 monospace;
} 
    </style>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">

    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    
    <link rel="stylesheet" type="text/css" media="all" href="/resources/css/uploadify.css" />
    <script type="text/javascript" src="/resources/scripts/lib/uploadify/jquery.uploadify.js"></script>
     
    <script type="text/javascript">
    $(document).ready(function() { 
    	$('#example-strcpy').click(function() { 
    		alert('here'); 
    		$.ajax({
    			  url: '/examples?type=strcpy',    			  
    			  success: function(){
    				  alert('done'); 
    			  },
    			  error: function(){
    				  alert('error');
    			  }
    		});
    	}); 
    	var example = function(assembly, platform) { 
    		$('#hex-content').val(assembly);
    		$('#platformSelect').val(platform);     	
    		$('#save-hex').click();
    	};
    	
    	$('#example-strcpy-x86').click(function() { 
    		example('55 31 D2 89 E5 8B 45 08 56 8B 75 0C 53 8D 58 FF 0F B6 0C 16 88 4C 13 01 83 C2 01 84 C9 75 F1 5B 5E 5D C3','X86'); 
    		return false; 
    	}); 
    	$('#example-strcpy-arm').click(function() { 
    		example('01 20 40 E2 02 20 61 E0 01 30 D1 E4 00 00 53 E3 02 30 C1 E7 FB FF FF 1A 1E FF 2F E1','ARM');
    		return false; 
    	}); 
    	
    }); 
    </script>
    
  </head>

  <body>

    <div class="topbar">
      <div class="topbar-inner">
        <div class="container-fluid">
           <a class="brand" href="#">ODA</a> 

          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about" data-controls-modal="help-modal">About</a></li>
            <!-- <li><a href="#contact">Contact</a></li>  -->
			<li class="dropdown" data-dropdown="dropdown">
              <a href="#" class="dropdown-toggle">Examples</a>
              <ul class="dropdown-menu">
                <li><a href="#fat" id="example-strcpy-x86">strcpy (x86)</a></li>
                <li><a href="#mdo" id="example-strcpy-arm">strcpy (arm)</a></li>

              </ul>
            </li>            
          </ul>
          {% if loggedIn %} 
          <p class="pull-right">Logged in as <a href="#">{{ username }}</a></p>
{% else %} 
 		<form id="login-form" action="login" class="pull-right">	
              <!--<input class="input-small" type="text" 
            	name="username" placeholder="Username">

           <input class="input-small" type="password" 
            	name="password" placeholder="Password">  -->
            <button class="btn" type="submit" style="margin-left:220px;">Log in with OpenID</button> |
          <!--   <a class="btn small success" href="/signup">Sign Up</a>  -->
          </form>
          {% endif %} 
        </div>        
      </div>
      
    </div>

    <div class="container">
    
		{% block content %}{% endblock %}

        <footer>
          <p>&copy; Online Disassembler 2012</p>
        </footer>
    </div>
    
      	  
   <script type="text/javascript">
    $(document).ready(function() { 
    	$('#example-strcpy-x86').click();
    }); 
    </script>
  </body>
</html>
