<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.0.3.xsd">

	<http auto-config="true" disable-url-rewriting="true">
		<intercept-url pattern="/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<logout logout-url="/logout" />
	</http>

	<authentication-manager alias="authenticationManager">		
		<authentication-provider user-service-ref="customUserDetailsService">
			<password-encoder hash="sha">
				<salt-source user-property="username" />
			</password-encoder>
		</authentication-provider>
	</authentication-manager>
	
	<beans:bean id="customUserDetailsService"
		class="com.onlinedisassembler.web.OdaUserDetailsService">
	</beans:bean>

</beans:beans>