<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.0.3.xsd">

	<http auto-config="true">
        <intercept-url pattern="/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <logout logout-url="/logout"/>
    </http>


	 <authentication-manager alias="authenticationManager">
		<!--<authentication-provider ref='myAuthenticationProvider' />-->
		<authentication-provider user-service-ref="customUserDetailsService" />
	</authentication-manager>
	<!-- 
	<beans:bean id="myAuthenticationProvider"
		class="com.onlinedisassembler.web.OdaAuthenticationProvider">
	</beans:bean> 
	-->
	
	<beans:bean id="customUserDetailsService" class="com.onlinedisassembler.web.OdaUserDetailsService">    
	</beans:bean>
	


	<!-- <authentication-manager> <authentication-provider> <user-service> <user 
		name="jimi" password="jimispassword" authorities="ROLE_USER, ROLE_ADMIN" 
		/> <user name="bob" password="bobspassword" authorities="ROLE_USER" /> </user-service> 
		</authentication-provider> </authentication-manager> -->

</beans:beans>